
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even){
    background-color: burlywood;
}
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd){
    background-color: rgb(127, 81, 38);
}
td{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}

table{
   
    width: 600px;
    height: 520px;
    text-align: center;
    margin-left: 350px;
    border: 10px black solid;
    border-radius:20px;
    border-collapse: collapse;
}
body{
    background-color:beige;
}
h1{
    font-family:cursive;
    font-size: larger;
    text-align: center;
}
